[submodule "vulkan"]
	path = vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vma"]
	path = vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
